@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

    background-color: #f2f1f1;
    background-image: url("https://www.transparenttextures.com/patterns/diagonal-striped-brick.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}


p {
    margin-bottom: 0px !important;
}


li:hover{
    transform: scale(1.025);
}

.main_div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner_div {
    width: 80vw;
    border: 2px solid darkblue;
    border-radius: 1vh;
    height: 90vh;
    background-color: darkblue;

    box-shadow: 15px 15px 15px gray;

}


.alter_msg {
    color: red;
    font-weight: bold;
}


.menu_btn {
    position: absolute;
    top: 5px;
    right: 5px;
}



#menu {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;

    /* width: 50vh; */

    max-width: 60vh;
    height: 85vh;
    /* border: 2px solid red;    */
    overflow: auto;
    z-index: 1000;

    border-radius: 3vh;
    border-top-right-radius: 0px;


}

#menu > div{
    border-radius: 3vh;
    border-top-right-radius: 0px;
}



.menu_logos {
    margin: 2vh;
    height: 25px;
    width: 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: ease-in-out transform 0.15s;
}

.menu_logos:hover {
    background-color: yellow;
    transform: scale(1.4) rotate(180deg);
}

.menu_logos:active {
    background-color: transparent;
}




.logo_div {

    display: flex;
    justify-content: space-between;

    background: darkblue;
    color: white;
    height: 10%;
    padding: 1vh;
}

.logo_div>div>img {
    height: 7vh;
    width: 7vh;
}


.web_name {
    font-family: cursive;
}


.web_name > span{
    position: relative;
    bottom: 17px;
    left: 9px;
    font-size: 0.8rem;
}




.message_area {
    overflow: auto;
    padding: 10px;
    height: 80%;

    border-top-right-radius: 5vh;
    border-top-left-radius: 5vh;
    border: 1px solid ;

    
    background-color: #ebfefd;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");

    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}

.msg {
    border-radius: 2px;

}


.msg>h5 {
    /* background-color: rgb(52, 8, 8); */

    color: white;
    font-weight: bolder;
    border-top-right-radius: 0.5vh;
    border-top-left-radius: 0.5vh;
    padding: 3px 5px;
    margin: 0;

    margin-top: 15px;
    overflow: auto;


}

.msg>p {

    overflow: auto;
    border: 1px solid rgb(52, 8, 8);
    border-top: 0;
    padding: 0 5px !important;
    margin-top: -1px;
}


.in {
    background-color: #adffed;
    width: 65%;
    box-shadow: -10px 10px 10px gray;
}


.in:hover{
    box-shadow: 0px 0px 0px ;

}


.in>h5 {
    background-color: #0a4437;
}

.out {
    margin-left: auto;
    width: 65%;
    background-color: #ffd2e7;
    box-shadow: 10px 10px 10px gray;
}


.out:hover{
    box-shadow: 0px 0px 0px ;

}

.out>h5 {
    background-color: #58092e;
}


.text_area_div {
    display: flex;
    height: 10%;
}


.text_input {
    resize: none;
    width: 85%;
    border-bottom-left-radius: 1vh;
    padding: 0 5px;
    background-color: #ebfefd;
    font-weight: bold;

    border-right: 0px;


}


.emoji{
    background-color: #ebfefd;
    display: flex;
    align-items: center;
    /* width: 20vh; */

    border: 1px solid darkblue;

    border-left: 0px;

}

.emoji i{
    font-size: 1.4rem;
}

.emoji i:hover{
    cursor: pointer;
}



.text_send {
    width: 15%;
    background-color: rgb(47, 255, 50);
    border-bottom-right-radius: 1vh;
}





@media (max-width:720px) {

    .emoji{
        position: absolute;
        z-index: 2000;

        bottom: 11vh;



        background-color: transparent;

    
        border: 1px solid darkblue;
    
        border: 0px;



    }
    
}





@media (max-width: 480px) {
    .alter_msg {
        font-size: 0.8rem;
    }

    .inner_div {
        width: 98vw;
    }

    .message_area {
        padding: 2px;
    }
}


@media (max-width: 270px) {
    .alter_msg {
        font-size: 0.6rem;
    }
    .in {
        width: 88%;
    }

    .out {
        width: 88%;
    }
}


