@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;

    background-color: #dafaf6;
    background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}


p{
    margin-bottom: 0px !important;
}



.main_div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner_div {
    width: 80vw;
    border: 1px solid black;
    border-radius: 1vh;
    height: 90vh;

    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/black-thread-light.png");
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

}


.alter_msg{
    color: red;
    font-weight: bold;
}


.menu_btn{
    position: absolute;
    top: 5px;
    right: 5px;
}



#menu{
    visibility: hidden;

    position: absolute;
    top:0;
    right: 0;

    /* width: 50vh; */

    max-width: 60vh;

    height: 85vh;
    border: 2px solid red;
    overflow: auto;


    z-index: 1000;


}



.menu_logos {
    margin: 2vh;
    height: 25px;
    width: 30px;
    background-color: #fff;
    border-radius: 10px;
    transition: ease-in-out  transform 0.15s;
}

.menu_logos:hover{
    background-color: yellow;
    transform: scale(1.4) rotate(180deg);
}

.menu_logos:active{
    background-color: transparent;
}




.logo_div {

    display: flex;
    justify-content: space-between;

    background: darkblue;
    color: white;
    border-top-right-radius: 1vh;
    border-top-left-radius: 1vh;
    height: 10%;
    padding: 1vh;
}

.logo_div> div > img {
    height: 7vh;
    width: 7vh;
}


.message_area {
    overflow: auto;
    padding: 10px;
    height: 80%;
}

/* .msg {
    border-top-right-radius: 1.5vh;
    border-top-left-radius: 1.5vh;
} */


.msg>h5 {
    /* background-color: rgb(52, 8, 8); */

    color: white;
    font-weight: bolder;
    border-top-right-radius: 1.5vh;
    border-top-left-radius: 1.5vh;
    padding: 0 5px;
    margin: 0;

    margin-top: 10px;

}

.msg>p {
    border: 1px solid rgb(52, 8, 8);
    border-top: 0;
    padding: 0 5px !important;

}


.in {
    background-color: #adffed;
    width: 80%;
}


.in>h5{
    background-color: #0a4437;
}

.out {
    margin-left: auto;
    width: 80%;
    background-color: #f8b2d3;
}

.out>h5{
    background-color: #58092e ;
}


.text_area_div {
    display: flex;
    height: 10%;
}


.text_input {
    resize: none;
    width: 85%;
    border-bottom-left-radius: 1vh;
}

.text_send {
    width: 15%;
    background-color: rgb(47, 255, 50);
    border-bottom-right-radius: 1vh;

}





@media (max-width: 480px) {
    .inner_div {
        width: 98vw;
    }

    .message_area{
        padding: 2px;
    }
}


@media (max-width: 270px) {
    .in {
        width: 93%;
    }

    .out {
        width: 93%;
    }
}